In [2]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score 
df = pd.read_csv("Heart.csv") 
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [3]:
df_encoded=df.copy() 
from sklearn import preprocessing 
le = preprocessing.LabelEncoder() 
print(df_encoded.columns)

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [4]:
df_encoded['Age']=le.fit_transform(df_encoded['Age'].values) 
df_encoded['Sex']=le.fit_transform(df_encoded['Sex'].values) 
df_encoded['ChestPain']=le.fit_transform(df_encoded['ChestPain'].values) 
df_encoded['RestBP']=le.fit_transform(df_encoded['RestBP'].values) 
df_encoded['Chol']=le.fit_transform(df_encoded['Chol'].values) 
df_encoded['Fbs']=le.fit_transform(df_encoded['Fbs'].values) 
df_encoded['RestECG']=le.fit_transform(df_encoded['RestECG'].values) 
df_encoded['MaxHR']=le.fit_transform(df_encoded['MaxHR'].values) 
df_encoded['ExAng']=le.fit_transform(df_encoded['ExAng'].values) 
df_encoded['Oldpeak']=le.fit_transform(df_encoded['Oldpeak'].values) 
df_encoded['Slope']=le.fit_transform(df_encoded['Slope'].values) 
df_encoded['Ca']=le.fit_transform(df_encoded['Ca'].values) 
df_encoded['Thal']=le.fit_transform(df_encoded['Thal'].values) 
df_encoded['AHD']=le.fit_transform(df_encoded['AHD'].values) 
df_encoded.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,29,1,3,31,64,1,2,49,0,22,2,0,0,0
1,2,33,1,0,40,111,0,2,10,1,15,1,3,1,1
2,3,33,1,0,14,60,0,2,29,1,25,1,2,2,1
3,4,3,1,1,22,80,0,0,84,0,32,2,0,1,0
4,5,7,0,2,22,35,0,2,71,0,14,0,0,1,0

In [5]:

X=df_encoded.iloc[:,1:-1] 
y=df_encoded.iloc[:,-1] 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0) 
rf=RandomForestClassifier(oob_score=True) 
rf.fit(X_train,y_train) 
rf.oob_score_

0.8207547169811321

In [6]:
y_pred=rf.predict(X_test) 
accuracy_score(y_test,y_pred)

0.7472527472527473