In [54]:
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler 
df = pd.read_csv("Social_Network_Ads.csv") 
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [55]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [56]:
df = pd.get_dummies(df, columns=['Gender'], drop_first=True)

In [57]:
df.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Male
0  15624510   19            19000          0            1
1  15810944   35            20000          0            1
2  15668575   26            43000          0            0
3  15603246   27            57000          0            0
4  15804002   19            76000          0            1

In [58]:
ft=[0,1,2,4]
X=df.iloc[:,ft].values 
y=df.iloc[:,3].values 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=42) 
sc=StandardScaler() 
X_train=sc.fit_transform(X_train) 
X_test=sc.transform(X_test)

In [59]:
from sklearn.linear_model import LogisticRegression 
classifier= LogisticRegression(random_state=0) 
classifier.fit(X_train,y_train) 
y_pred=classifier.predict(X_test) 
y_pred 
from sklearn.metrics import confusion_matrix, accuracy_score 
cm=confusion_matrix(y_test,y_pred) 
print(cm)
accuracy_score(y_test,y_pred)

[[71  2]
 [15 32]]

0.8583333333333333