In [29]:
from pandas import read_csv 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from mlxtend.evaluate import bias_variance_decomp 
df = read_csv("HousePriceData.csv") 
data =df.values 
df.head()

   FloorArea  BedRooms   Price
0       2104         3  399900
1       1600         3  329900
2       2400         3  369000
3       1416         2  232000
4       3000         4  539900

In [30]:
X, y = data[:, :-1], data[:, -1] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [31]:
model = LinearRegression() 
mse, bias, var = bias_variance_decomp(model, X_train, y_train, X_test, y_test, loss='mse', 
num_rounds=200, random_seed=1) 
print('MSE: %.3f' % mse) 
print('Bias: %.3f' % bias) 
print('Variance: %.3f' % var)

MSE: 6411729232.783
Bias: 5909374951.109
Variance: 502354281.674